form {
    padding: 20px 0;
}

form fieldset {
    margin-bottom: 20px;
}

form label {
    display: block;
}

form input[type='tel'],
form input[type='text'],
form input[type='email'],
form textarea {
    width: 425px;
    padding: 10px;
}

form textarea {
    height: 100px;
}

form #lastname,
form #firstname {
    width: 200px;
}

form input[type='submit'] {
    border: 0;
    background-color: dodgerblue;
    color: white;
    font-weight: bold;
    padding: 10px;
    text-transform: uppercase;
}

#result {
    display: none;
    line-height: 30px;
    font-size: 25px;
}
